<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Hana" connectionString="
			 Server=192.168.168.99:30015;UserID=SYSTEM;Password=PptlHana24;CurrentSchema=Test" providerName="Sap.Data.Hana"/>
  </connectionStrings>
    <appSettings>
      <add key="URL" value="https://127.0.0.1/artemis/api/attendance/v1/report"/>
      <add key="AppSecret" value="N1MWsvum6ZFj27DJD2KE"/>
      <add key="AppKey" value="23765342"/>
      <add key="Accept" value="application/json"/>
      <add key="ContentType" value="application/json;Charset=UTF-8"/>
      <!--For Write To Text File Set IsDebug = Y -->
      <add key="IsDebug" value="Y"/>
      <add key="PageNo" value="1"/>
      <add key="PageSize" value="500"/>
      <add key="beginTime" value="2025-02-01T00:00:00 08:00"/>
      <add key="EndTime" value="2025-03-20T23:59:59 08:00"/>
      <!--For set Current Date  Set Flag = N  ,   for apply execution at once before time shedule Flag and it not for set current date , it take appseting begin , end time  = Y-->
      <add key="Flag" value="N"/>
      <add key="IntervalMM" value="1"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>